@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0; 
    
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.welcome-banner {
  text-align: center;
  font-size: 50px;
  position: relative;
  flex: 1;
  justify-content: center;
  line-height: 100px; 
}

.nav-box{
  transform: translateY(-50%);
}

*{
background-image: url("https: //images.squarespace-cdn.com/content/v1/58a1fe895016e192bf28ff7f/1568646848366-IYI7DZMOFU5L7AMJ2CTC/Eco.png?format=1500w");
}